# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# Data files (do not commit)
/data/
/models/

# Editor directories and files
.vscode/
*.swp

# PyTorch
*.pt
*.pth

# Logs
*.log
